// http://mcg.mbitson.com/#!?mcgpalette0=%23123456
$custom-color-primary: (
  50 : #e3e7eb,
  100 : #b8c2cc,
  200 : #899aab,
  300 : #597189,
  400 : #36526f,
  500 : #123456,
  600 : #102f4f,
  700 : #0d2745,
  800 : #0a213c,
  900 : #05152b,
  A100 : #6697ff,
  A200 : #3374ff,
  A400 : #0051ff,
  A700 : #0049e6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

// http://mcg.mbitson.com/#!?mcgpalette0=%23987654
$custom-color-accent: (
    50 : #f3efea,
    100 : #e0d6cc,
    200 : #ccbbaa,
    300 : #b79f87,
    400 : #a78b6e,
    500 : #987654,
    600 : #906e4d,
    700 : #856343,
    800 : #7b593a,
    900 : #6a4629,
    A100 : #ffd2b0,
    A200 : #ffb57d,
    A400 : #ff984a,
    A700 : #ff8930,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
